.popupEdit {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 5% 5% 5% 5%;
    box-sizing: border-box;
    transform: scale(0.9);
}

.buttonDel {
    width: 60px;
    height: 38px;
    border-radius: 50px;
}

.containImgDelete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.imgEdit {
    width: 100px;
    height: 100px;
}